body {
    font: 16px/1.4 sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

/* Blockquotes */
blockquote {
    background: blanchedalmond;
    font-size: 120%;
    margin: 2rem auto;
    padding: 10px;
}
blockquote p {
    margin: 0;
}

/* Syntax */
pre {
    margin: 0;
}
.highlight {
    background: #eee;
    margin: 2rem 0;
    overflow: auto;
    padding: 10px;
}

@media (prefers-color-scheme: dark) {
    html { background: #1c1c1c; color: white; }
    a { color: #6bf; }
    a:visited { color: #f8f; }
    a:active { color: red; }
}
